body:not(.front) .l-region--header {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
}
.page-node-11 .node--webform {
  .field--name-field-webform-body {
    float: left;
    width: 60%;
  }
  .webform-client-form {
    float: left;
    width: 39%;
  }
}